<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StokTakipOtomasyon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StokTakipOtomasyon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <!--<connectionStrings />-->
    <connectionStrings>
        <add name="StokTakipOtomasyon.Properties.Settings.Db_StokTakipConnectionString"
            connectionString="Data Source=DESKTOP-YILDIZ;Initial Catalog=Db_StokTakip;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <StokTakipOtomasyon.Properties.Settings>
            <setting name="Cs_Sunucu" serializeAs="String">
                <value>;</value>
            </setting>
            <setting name="Cs_Database" serializeAs="String">
                <value>;</value>
            </setting>
            <setting name="Cs_UserID" serializeAs="String">
                <value>;</value>
            </setting>
            <setting name="Cs_Password" serializeAs="String">
                <value>;</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value />
            </setting>
        </StokTakipOtomasyon.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <StokTakipOtomasyon.Properties.Settings>
            <setting name="Cs_1" serializeAs="String">
                <value>Data Source =</value>
            </setting>
            <setting name="Cs_2" serializeAs="String">
                <value>Initial Catalog =</value>
            </setting>
            <setting name="Cs_3" serializeAs="String">
                <value>User Id =</value>
            </setting>
            <setting name="Cs_4" serializeAs="String">
                <value>Password =</value>
            </setting>
        </StokTakipOtomasyon.Properties.Settings>
    </applicationSettings>
</configuration>